
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="employees" routerLinkActive="active" class="nav-link"> Employee List  </a>
        </li>
        <li class="nav-item">
            <a routerLink="create-employee" routerLinkActive="active" class="nav-link"> Add Employee </a>
        </li>
</ul>
</nav>
<br>
<br>

<h2 class="text-center"> WELCOME TO MY FIRST ANGULAR SPRINGBOOT APPLICATION</h2>
<div class="container">
<router-outlet> </router-outlet>
</div>


<footer class="footer">
    <div class="container">
        <span> Alright Reserve 2022 My Java Springboot Angular Project</span>

    </div>

</footer>